h1{
    font-size: 18px;
    text-align: start;
}

.card-product{
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.precio{
    font-size: 26px;
    color: rgb(60, 61, 60);
}

p{
    text-align: start;
}

button{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}